.collapse-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  padding: var(--spacing-2) 0 0;
}

.collapse-icon {
  transition: transform 200ms ease;
}

.collapse-icon.active {
  transform: rotateZ(-180deg);
}